#logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding: 2%;
    float: left;
    display: table-row;
    padding-bottom: 3%;
}
#topBar {
    background-color: gray;
    padding: px;
}
.black {
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 5%;
}
li {
    float: right;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
}
li a {
    display: block;
    text-align: center;
    padding: 2.5%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color:black;
    font-weight: bold;
}
/* --------------------- */
#main {
    width:100%;
    overflow: hidden;
    padding-top: 3%;
    background-image: url('./images/gravel.png');
}
.image {
    width:300px;
    margin: 0px 0px 0px 0px
}
#small {
    width:450px
}
img {
    float: right;
}
.left {
    float:left;
    padding-left: 3%;
}