#logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding: 2%;
    float: left;
    display: table-row;
    padding-bottom: 3%;
}
#topBar {
    background-color: gray;
    padding: px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 5%;
}
li {
    float: right;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
}
li a {
    display: block;
    text-align: center;
    padding: 2.5%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color:black;
    font-weight: bold;
}
/* --------------------- */
#main {
    display:flex;
    width:100%;
    overflow: hidden;
    padding-top: 3%;
    padding-bottom: 5%;
    margin: 0px 0px 0px 0px;
    background-image: url('./images/gravel.png');
}
.picture {
     margin-right: 20px; 
    width: 300px;
    height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
}


.text {
    padding-left: 15%;
    padding-right: 15%;
    justify-content: flex-start;
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.words {
    display: block;
    flex-shrink: 100;
    margin: 0px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
}
.para {
    flex-shrink: 5;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 23px;
}
.menu {
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}
.pictureContainer {
    display: flex;
    justify-content: space-evenly;
}
.individualPic {
    position: relative;
}
.topPictureWords, .bottomPictureWords {
    font-family: 'Lato', sans-serif;
    text-align: right;
    position: relative;
    padding: 10px;
    bottom: 90px;
    right: 25px;
    font-size: 20px;
    font-weight: bold;
}
/*for the words in the last picture*/
.lastTopWords, .lastBottomWords {
    font-family: 'Lato', sans-serif;
    text-align: right;
    position: relative;
    padding: 10px;
    bottom: 90px;
    right: 59px;
    font-size: 20px;
    font-weight: bold;
}

.topPictureWords, .lastTopWords {
    background-color: white;
    margin-left: 250px;
}
.bottomPictureWords, .lastBottomWords {
    background-color: yellowgreen;
    margin-left: 200px;
}
/*test for githubpages not working*/